.neumorphic { 
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}
  .neumorphic-inset {
    background: #e0e0e0; box-shadow:
      inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
  } 
  .dark-mode {
    background-color: #333; 
    color: #fff; 
  }
